@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Chillax', sans-serif;
font-family: 'Red Hat Display', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
  }
  
  :root {
    --bg-dark: #000;
    --bg-light: #fff;
    --bg-primary: #FFAE28;
    --bg-secondary: #26A96F;
  }

  .primary-btn a{
    background-color: var(--bg-primary);
  }


  .page-menu ul li a{
     font-family: 'Chillax', sans-serif;
  }
  .main-banner{
    background-image: url(../src//assets/banner.png);
    position: relative;
    z-index: -111;
  }
  .main-banner::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -4px;
    background: linear-gradient(1deg, rgb(255 255 255) 0%, rgb(255 255 255 / 75%) 35%, rgb(255 255 255 / 0%) 88%);
    height: 250px;
    z-index: -1;
}

  .banner-content h1{
    font-family:'Red Hat Display', sans-serif ; 
  }

  .line-dashed {
    width: 0;
    height: 607px;
    border: 1px dashed var(--bg-secondary);
}
  .footer{
    background-image: url(../src/assets/footer.png);
  }